body{
	background-color: #D99595;
	color: white;
}

#title{
	background-color: #074B8A;
}

#container{
	margin: auto;
	height: 1000px;
	background-color: #f5d5dd;
	text-align: center;
	color: black;
	width: 1000px;
}

#userid{
	margin-top: 100px;
	margin-bottom: 100px;
}

#uinput{
	margin: auto;
	width: 200px;
	min-height: 100px;
	background-color: white;
}

#password{
	margin-top: 30px;
	margin-bottom: 100px;
}

#signin{
	margin-top: 30px;
	margin-bottom: 100px;
}